nav {
  position: relative;
  text-align: center;
}
.navbar {
  display: inline-block;
  width: 136px;
  height: 44px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  font-variation-settings: 'slnt' 0;
}
.navbar_set {
  position: absolute;
  width: 374px;
  height: 19px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.67);
  top: 0;
  right: 0;
}
.navbar_menu {
  margin-right: 15px;
  margin-top: 19px;
}

ul {
  list-style: none;
  display: flex;
}
