body:has(.login_modal){
	position: fixed;
  width: 100%;
  height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.login_modal {
	display: grid;
	place-items: center;
	width: 597.39px;
	height: 791.91px;
	background: #FFFFFF;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	margin:auto;

	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.login_modal .close_btn {
	margin-left: 500px;
	width: 18.08px;
	height: 26.9px;
	font-weight: 500;
	font-size: 25px;
	color: #1E1E1E;
}

.login_modal .under_line {
	display: flex;
	align-items: center;
}

.under_line .line {
	width: 200px;
	height: 0px;
	border: 0.8px solid #A8A5A5;
}

.under_line .line_text {
	margin-left:10px;
	margin-right: 10px;
}

.login_modal .kakao_oauth {
	margin-bottom: 70px;
}

.login_modal .login_logo {
	margin-left: 90px;
	width: 294px;
	height: 274px;
}

.login_modal .input_box {
	width: 437.28px;
	height: 56.32px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 12px;
	
	font-weight: 200;
	font-size: 20px;
	color: #918E83;
	padding-left: 8.61px;

}

.login_modal .login_btn {
	width: 383.91px;
	height: 43.71px;
	background: #F7F7F7;
	border: 1px solid #E1A3FF;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #ABDDD8;

	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.55);
}

.login_modal .wrapper {
	display: flex;
	justify-content: center;
	width: 323px;
	height: 29px;
	gap:20px;
}