body:has(.login_modal){
	overflow: hidden;
  width: 100%;
  height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.login_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	width: 100%;
	max-width: 700px;
	height: 100%;
	max-height: 792px;
	background: #FFFFFF;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	margin:auto;

	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.login_modal .close_btn_box {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	padding-top: 10px;
	padding-right: 30px;
}

.login_modal .close_btn_box .close_btn {
	border: 0;
	background-color: transparent;
	width: 18px;
	height: 27px;
	font-weight: 500;
	font-size: 25px;
	color: #1E1E1E;
}

.login_modal .login_logo {
	margin-left: 80px;
	width: 100%;
	max-width: 294px;
	height: 100%;
	max-height: 274px;
}

.login_modal .input_box_wrapper {
	display: flex;
	flex-direction: column;
	width: calc(100% - 30px);
	max-width: 450px;
	align-items: center;
	gap:20px;
}

.login_modal .input_box_wrapper .input_box {
	width: 100%;
	max-width: 437.28px;
	height: 56.32px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 12px;
	
	font-weight: 200;
	font-size: 20px;
	color: #918E83;
	padding-left: 8.61px;
}

.login_modal .login_btn {
	width: calc(100% - 30px);
	max-width: 383.91px;
	height: 43.71px;
	background: #F7F7F7;
	border: 1px solid #E1A3FF;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #ABDDD8;

	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.55);
}

.login_modal .wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 323px;
	height: 29px;
	gap:20px;
}

.login_modal .under_line {
	display: flex;
	align-items: center;
}

.under_line {
	width: calc(100% - 250px);
	justify-content: center;
}

.under_line .line {
	width: 100%;
	height: 0px;
	border: 0.8px solid #A8A5A5;
}

.under_line .line_text {
	margin-left:10px;
	margin-right: 10px;
}

.login_modal .oauth_wrapper .kakao_oauth {
	width: 100%;
	margin-bottom: 70px;
}

@media only screen and (max-width: 720px) {
	.login_modal{
		width: calc(100% - 30px);
		overflow-x: hidden;
	}

	.under_line {
		width: calc(100% - 120px);
	}
}