.navbar_set {
  /* position: relative; */
}
.navbar_set1 {
  margin-bottom: 30px;
}

.navbar_main {
  width: 207px;
  height: auto;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 55px;
  color: #000000;
  font-variation-settings: 'slnt' 0;
  margin-left: 44%;
  float: left;
  /* position: absolute; */
}
.navbar_menu {
  display: flex;
  justify-content: right;
}

.navbar_img {
  border: 2px solid blue;
}
.navbar_img_set {
  margin-right: 15px;
  width: 75px;
}
.navbar {
  display: inline-block;
  width: 136px;
  height: 44px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  font-variation-settings: 'slnt' 0;
  margin: 0 auto;
}

.banner {
}
.banner_set {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}
.banner1 {
  width: 308px;
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #070404;
}
.bannerimg {
  box-sizing: border-box;
  height: 391px;
  background: #6dd3ba;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  width: 1600px;
  background-size: cover;
}
.banner_img {
}
