.main_funding_title {
  width: 330px;
  font-size: 24px;
  margin:  20px auto;

}

.main_funding_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main_funding_item {
  flex: 0 0 auto;
  margin-bottom: 61px;
}

.main_funding_item_title {
  font-size: 17px;
  font-weight: 800;
  margin-top: 21.28px;
  line-height: 21px;
  text-align: center;
}

.main_funding_item_percentage {
  color: #3cbea7;
  font-size: 17px;
  font-weight: 800;
  font-style: italic;
  line-height: 21px;
  text-align: center;
}

.main_funding_item_image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 330px;
  height: 188px;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 720px) {
  .main_funding_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .main_funding_title {
    text-align: center;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
  .main_funding_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
